{{search-repos onSearch=('searchRepos')}}
<div class="ui container">
  <div class="ui four doubling cards">
    {{#each repos as |repo|}}
    <div class="ui card">
      <div class="content">
        <div class="header">
          {{repo.name}}
        </div>
        <div class="content">
          <h4 class="ui sub header">{{repo.description}}</h4>
          <div class="ui small feed">
            <div class="event">
              <div class="content">
                <div class="summary">
                  URL: <a>{{repo.htmlUrl}}</a>
                  <br>
                  Fork Count: {{repo.forksCount}}
                  <br>
                  Stargazer Count: {{repo.stargazersCount}}
                  <br>
                  Watcher Count: {{repo.watchersCount}}
                  <br>
                  Git Url: <a>{{repo.gitUrl}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  <br>
</div>
