{{!-- app/templates/application.hbs --}}
<!-- create search bar here.  -->
<div class="ui four column centered grid">
  <div class="row">
    <h1 class="ui centered aligned header">Github User Search</h1>
  </div>
  
  <!-- User Card -->
  <div class="ui card centered aligned ">
    <div class="content">
      <div class="header">{{model.login}}</div>
      <h4 class="ui sub header">{{model.bio}}</h4>
      <div class="ui small feed">
        <div class="event">
          <div class="content">
            <div class="summary">
              Location:{{model.location}}
              <br>
              Email: {{model.email}}
              <br>
              Link: <a>{{model.url}}</a>
              <br>
              Number of Followers: {{model.followers}}
              <br>
              Number of Public Repos: {{model.publicRepos}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End User Card -->
  <div class="ui container">
    <div class="ui four doubling cards">
      {{#each model.repositories as |repo|}}
      <div class="ui card">
        <div class="content">
          <div class="header">
            {{repo.name}}
          </div>
          <div class="content">
            <h4 class="ui sub header">{{repo.description}}</h4>
            <div class="ui small feed">
              <div class="event">
                <div class="content">
                  <div class="summary">
                    URL: <a>{{repo.htmlUrl}}</a>
                    <br>
                    Fork Count: {{repo.forksCount}}
                    <br>
                    Stargazer Count: {{repo.stargazersCount}}
                    <br>
                    Watcher Counter: {{repo.watchersCount}}
                    <br>
                    Git URL: <a>{{repo.gitUrl}}</a>
                  </div>

                </div>

              </div>

            </div>
            <!-- TODO: add the rest of the stuff here and then get the search to work -->
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  <br>
</div>
